<footer class="w-full dark:bg-neutral-950 py-12 border-t border-neutral-800">
	<div class="px-16">
		<div class="flex flex-col items-center justify-center gap-6">
			<div class="flex flex-wrap items-center justify-center gap-8 md:gap-12">
				<a href="https://github.com/Wardergrip" target="_blank"
					class="text-sm dark:text-neutral-400 dark:hover:text-white px-3 py-2 border-b-2 border-transparent hover:border-blue-500 transition-all duration-300">
					GitHub
				</a>
				<a href="mailto:rei.messely@gmail.com" target="_blank"
					class="text-sm dark:text-neutral-400 dark:hover:text-white px-3 py-2 border-b-2 border-transparent hover:border-blue-500 transition-all duration-300">
					Email
				</a>
				<a href="https://www.linkedin.com/in/re%C3%AF-messely-68522523a/" target="_blank"
					class="text-sm dark:text-neutral-400 dark:hover:text-white px-3 py-2 border-b-2 border-transparent hover:border-blue-500 transition-all duration-300">
					LinkedIn
				</a>
				<a href="https://wardergrip.itch.io/" target="_blank"
					class="text-sm dark:text-neutral-400 dark:hover:text-white px-3 py-2 border-b-2 border-transparent hover:border-blue-500 transition-all duration-300">
					Itch.io
				</a>
			</div>
			<p class="text-xs text-white text-center mt-8">
				© 2024 Reï Messely / Wardergrip
			</p>
		</div>
	</div>
</footer>

