.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mainLogo {
  width: 23%;
}
#linkingStyle {
  font-family: Verdana;
  color:whitesmoke;
  margin-top:60px;
}
#myPic {
  width: 300px;
  margin-left: 30%;
  float: left;
}

body{
  background-color: #313131;
}
h1{
  text-align: center; 
  font-family: Verdana; 
  color: lightgrey;
  font-size: 250%;
  font-weight: bold;
  margin-top: 4px;
}
h2{
  text-align: center;
  font-family: Verdana;
  color: lightgrey; 
  font-size: 120%;
  font-weight: bold;

}
h3{
  text-align: center;
  font-family: Verdana;
  color: lightgrey;
  font-size: 110%;
  margin-right: 15%;
  margin-top: 150px;
  float:right;
}

.gap {
  margin-top: 20%;
}

.btn-group .button {
  background-color: #818181;
  border: none;
  color: lightgrey;
  padding: 15px 48px;
  text-align: center;
  text-decoration: none;
  font-family: Verdana;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group{
  width: 39%;
  margin:auto;
}

.contact-group{
  width: 15%;
  margin:auto;
  margin-top: 38%
}

.btn-group .button:hover {
  background-color: #aaaaaa;
}